---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-podsync-pvc
  namespace: media
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
