---

name: Release
'on':
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: "xanmanning.k3s"

env:
  UV_SYSTEM_PYTHON: "1"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          path: "xanmanning.k3s"

      - name: Set up uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: uv pip install -r requirements.txt

      - name: Trigger a new import on Galaxy
        run: ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
