---
apiVersion: v1
kind: Secret
metadata:
  name: qbittorrent-helm-values
  namespace: media
stringData:  
  configFile: |-
    [Interface]
    PrivateKey = ${SEALED_WIREGUARD_PRIVATE_KEY}
    Address = ${SEALED_WIREGUARD_ADDRESS}
    DNS = ${SEALED_WIREGUARD_DNS}
    PostUp = /config/up.sh %i
    PreDown = /config/down.sh %i

    [Peer]
    PublicKey = ${SEALED_WIREGUARD_PUBLIC_KEY}
    AllowedIPs = 0.0.0.0/0
    Endpoint = ${SEALED_WIREGUARD_ENDPOINT}
