---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 82.0.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
  install:
    createNamespace: false
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 5
  values:
    prometheus:
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
    #        thanos:
    #          # ObjectStorageConfig configures object storage in Thanos.
    #          objectStorageConfig:
    #            secret:
    #              type: S3
    #              config:
    #                bucket: "thanos"
    #                endpoint: "192.168.1.49:9001"
    #                region: ""
    #                access_key: "${MINIO_S3_ACCESS_KEY}"
    #                secret_key: "${MINIO_S3_SECRET_KEY}"
    thanosService:
      enabled: false
    thanosServiceMonitor:
      enabled: false
    alertmanager:
      config:
        global:
          resolve_timeout: 5m
        inhibit_rules:
          - equal:
              - namespace
              - alertname
            source_match:
              severity: critical
            target_match_re:
              severity: warning|info
          - equal:
              - namespace
              - alertname
            source_match:
              severity: warning
            target_match_re:
              severity: info
    alertmanagerSpec:
      replicas: 1
    grafana:
      enabled: true
      defaultDashboardsTimezone: Europe/Warsaw
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/icon: simple-icons:grafana
          hajimari.io/group: "monitoring"
        hosts:
          - &host grafana.${SECRET_DOMAIN}
        tls:
          - hosts:
              - "grafana.${SECRET_DOMAIN}"
      additionalDataSources:
        - name: Loki
          access: proxy
          basicAuth: false
          editable: false
          type: loki
          url: http://loki:3100
    serviceMonitor:
      scrapeTimeout: 60s
    kubeControllerManager:
      enabled: true
    kubeScheduler:
      enabled: true
    kubeProxy:
      enabled: false

    prometheusSpec:
      retention: 672h
      enableAdminAPI: true
      walCompression: true
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: prometheus-omv
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
            selector:
              matchLabels:
                app.kubernetes.io/name: nfs-prometheus-pv
