[defaults]
nocows = True
roles_path = ./roles
inventory  = ./hosts.ini

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = True
#become = True
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks

# MN
#private_key_file = ~/ydc_id_rsa
vault_password_file = ~/.vault_pass_prv.txt
ansible_python_interpreter=/usr/bin/python3