---

- hosts: k3s_cluster # defines what hosts to install this role on
  #become: true
  vars:
#    k3s_release_version: stable #by default it's: stable
    k3s_release_version: v1.34.1+k3s1
    # installed, started, stopped, downloaded, uninstalled, validated
    k3s_state: installed
#    k3s_state: uninstalled
    k3s_install_hard_links: true
    #k3s_become_for_all: true
    k3s_etcd_datastore: true
    k3s_server:
      docker: false
      embedded-registry: true
      cluster-cidr: 10.42.0.0/16
      service-cidr: 10.43.0.0/16
#      flannel-backend: 'none'  # This needs to be in quotes
      disable:
        - traefik
        - servicelb
        - local-storage
#      kube-apiserver-arg:
#        - "feature-gates=RemoveSelfLink=false"
  pre_tasks:
    - name: Set 3 nodes to be a control nodes
      ansible.builtin.set_fact:
        k3s_control_node: true
      when: inventory_hostname in ['wezyr', 'kaczka', 'kura']
  roles:
    - role: common
    - role: xanmanning.k3s
