---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: pfire
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 10.5.15
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    replicas: 1
    rbac:
      pspEnabled: false
    testFramework:
      enabled: false
    admin:
      existingSecret: grafana-secrets
    grafana.ini:
      auth.basic:
        disable_login_form: false

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        hajimari.io/icon: simple-icons:grafana
        hajimari.io/group: "pfire"
      hosts:
        - &host grafana.${SECRET_DOMAIN}
      tls:
        - hosts:
            - "grafana.${SECRET_DOMAIN}"

    imageRenderer:
      enabled: true
      replicas: 3
    persistence:
      enabled: false
