---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-helm-values
  namespace: kube-system
stringData:
  values.yaml: |-
    config:
      clientSecret: "${SEALED_OAUTH2_PROXY_SECRET}"
      cookieSecret: "${SEALED_OAUTH2_PROXY_COOKIE_SECRET}"
      clientID: "oauth2-proxy"

